/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b8bcc3;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
